<html>
<head><title>BBVA TEST</title></head>

<body>
  <h2>LOGIN</h2>
  <form method = "POST">
    <label for="perfil">Escoge tu perfil:</label>


    <!-- <select name="perfil" id="perfil">
      <option value="manager">Manager</option>
      <option value="validador">Validador</option>
      <option value="restringido">Restringido</option>

    </select> -->

    <label for="cliente">Escoge el ID del cliente a consultar:</label>

    <input type= "text" name = "cliente">

    <input type = "submit">

  </form>
</body>
</html>
